# After making changes here, run scripts/requirements.py.

# End users only need the backend extra they'll be connecting to:
ibis-framework[duckdb,polars,sqlite,postgres]==10.0.0
# TODO: Unpin and get postgres working
# TODO: restore mysql

# Developer tools:
pip-tools
flit
flake8
flake8-bugbear
pre-commit
tomlkit
isort
black
pyyaml

# Testing:
pytest
pyright
pytest-cov

# OpenDP is not necessary at runtime,
# but it is used in tests as an example of a Polars plugin.
opendp[polars]>=0.14.1

# Package dependencies:
-r requirements.in
