# After making changes here, run scripts/requirements.py.

# OpenDP is not necessary at runtime,
# but it is used in tests as an example of a Polars plugin.
opendp[polars]==0.14.1

# Package dependencies:
-r requirements-dev.in
