# After making changes here, run scripts/requirements.py.

# End users only need the backend extra they'll be connecting to:
ibis-framework[duckdb,polars,sqlite,postgres]>=12.0.0
# TODO: Restore MySQL.    https://github.com/opendp/polars-to-ibis/issues/34

psycopg-binary
# TODO: Surprised that ibis-framework[postgres] doesn't cover this?

# Developer tools:
# pip-tools depends on particular versions of pip, so pin both.
# See: https://github.com/jazzband/pip-tools/issues/2252
pip-tools==7.5.3
pip==25.3
flit
flake8
flake8-bugbear
pre-commit
tomlkit
isort
black
pyyaml

# Testing:
pytest
pyright
pytest-cov

# Package dependencies:
-r requirements.in
