# After making changes here, run scripts/requirements.py.

# Developer tools:
pip-tools
flit
flake8
flake8-bugbear
pre-commit
tomlkit
isort
black

# Testing:
pytest
pyright
pytest-cov
pytest-xdist

# Package dependencies:
-r requirements.in
